body > .container:first-of-type {
    margin-top: 50px;
}

.callout {
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 20px 0;
    padding: 20px;
}

.callout-danger {
    border-left-color: #d9534f;
}

.callout-danger > h4 {
    color: #d9534f;
}

.flash {
    margin-top: 3em;
}

nav a.navbar-brand > img {
    display: inline;
    float: left;
    height: 2em;
    margin-right: 0.5em;
    position: relative;
    bottom: 0.5em;
}

dd.error {
    border-left: 4px solid;
    color: red;
    padding-left: 0.5em;
    margin-top: 0.5em;
}

dl.error input {
    border-color: #A94442;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

a.download > img {
    float: left;
    height: 1.5em;
    padding-right: 0.5em;
}

.show-grid [class^="col-"] {
    -background-color: #eee;
    -background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.glyphicon::before {
    padding-right: 0.5em;
}

a.glyphicon.action {
    color: grey;
    text-decoration: none;
}

a.glyphicon.action:hover {
    color: green;
}

a.btn.round {
    border-radius: 50%;
}
a.btn.round::before {
    padding-right: 0;
}

div.call2action {
    position: absolute;
    right: 1em;
    top: 32px;
    z-index: 2000;
}